.text_block {
	button {
		appearance: none;
		outline: none;
		height: 36px;
		width: 120px;
		font-size: medium;
		margin: auto;
		border-radius: 36px;
		color: #fff;
		background-color: #000;
		cursor: pointer;
	}
}
