.text_block {
	margin: 36px;
	color: #fff;
	font-size: x-large;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	button {
		appearance: none;
		outline: none;
		height: 36px;
		width: 120px;
		font-size: medium;
		margin: 1rem;
		border: 2px solid #fff;
		border-radius: 36px;
		color: #fff;
		background-color: transparent;
		cursor: pointer;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}
}
