// 顏色變數
$primary: #3182ce;
$secondary: #2b6cb0;
$gray-100: #f7fafc;
$gray-300: #e2e8f0;
$gray-700: #4a5568;
$gray-900: #272c1a;

// 字體
$font-base: "Inter", system-ui, sans-serif;

// 間距
$spacing: 1rem;
